*{
    margin:0px;
    padding:0px;
    background:url("../images/background2.jpeg")
}
#logo{
    background:url("../images/kyentinlogo.png");
    width:200px;
    height:100px;
    float:left;
}
#top{
    height:300px;
    width:1000px;
    font-family:"微软雅黑";
    font-size:14px;
    margin:auto;
    position:relative;
    float:left;
    border:3px solid #ff7202;
}
#topleft{
    width:333px;
    height:300px;
    background:url("../images/hollywood2.png");
    position:relative;
    float:left;
    text-align:center;
}
#topmid{
    width:334px;
    height:300px;
    float:left;
    position:relative;
}
#topright{
    width:333px;
    height:300px;
    float:right;
    position:relative;
    background:url("../images/book.png");
    text-align:center;
}
#name_ch{
    font-family:"黑体";
    font-size:24px;
}
#name_en{
    font-size:18px;
}
#topleft p a{
    margin-top:120px;
    font-size:25px;
    text-decoration: none;
    color:burlywood;
}
#topright p a{
    margin-top:0px;
    font-size:25px;
    text-decoration: none;
    color:burlywood;
}
#bottonleft p a{
    margin-top:120px;
    font-size:25px;
    text-decoration: none;
    color:burlywood;
}
#bottonright p a{
    margin-top:120px;
    font-size:25px;
    text-decoration: none;
    color:burlywood;
}
#head{
    width:1000px;
    height:75px;
    margin-top:15px;
    margin:0px auto;
}
#nav{
    width:800px;
    height:73px;
    margin-left:20px;
    margin-top:20px;
    font-size:16px;
}
#nav ul{
    list-style:none;
}
#nav ul li{
    margin-top:25px;
    float:left;
    width:90px;
}
#nav ul li a:link{
    text-decoration: none;
}
#nav ul li a:hover{
    color:aquamarine;
    font-weight:bold;
}
#botton{
    margin-top:30px;
    width:1000px;
    height:300px;
    margin:auto;
    margin-top:15px;
    border:3px solid #ff7202;
}
#bottonleft{
    margin-top:30px;
    float:left;
    position:relative;
    background:url("../images/killbill.png");
    width:333px;
    height:300px;
    text-align:center;
}
#bottonright{
    margin-top:30px;
    float:right;
    position:relative;
    background:url("../images/jlge.png");
    width:333px;
    height:300px;
    text-align:center;
}
#bottonmid{
    margin-top:30px;
    width:334px;
    height:300px;
    background-color:#777;
    float:left;
    color:aliceblue;
}
#bottonmid p{
    margin-left:50px;
}
#footer p a:link{
    margin-top:30px;
    color:#777;
}